{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    {% if messages %}
    {% for message in messages %}
        <div>
            <h1 style="color: red;">
                {{ message }}
            </h1>
        </div>
    {% endfor %}
    {% endif %}
    <form action="{% url 'encyclopedia:newentry' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>

{% endblock %}