{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>Create New Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                        {{ message }}
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <form action="{% url 'encyclopedia:newentry' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                </div>
            </form>
        </div>
    </div>
    <input type="submit" class="btn btn-primary">
</div>

{% endblock %}