{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h1 class="h2 mt-3">Categories</h1>
          <hr class="mt-1">
        </div>
      </div>
      <div class="row justify-content-center">
      {% if categories %}
        <div class="col-lg-6 col-md-9">
          <div class="list-group">
          {% for category in categories %}
            <a href="{% url 'auctions:category' category_id=category.id %}" class="list-group-item list-group-item-action d-flex
            justify-content-between align-items-center">
              {{ category.name }}
              <span class="badge badge-primary badge-pill">{{ category.num_items }}</span>
            </a>
          {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="col-lg-10 mt-3 mb-2">
          <p class="text-center">No categories to display</p>
        </div>
      {% endif %}
      </div>
    </div>
{% endblock %}