{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>
    <div class="container">
      <div class="row">
      {% if categories %}
        <div class="col-6">
          <div class="list-group">
          {% for category in categories %}
            <a href="{% url 'auctions:category' category_id=category.id %}" class="list-group-item list-group-item-action d-flex
            justify-content-between align-items-center">
              {{ category.name }}
              <span class="badge badge-primary badge-pill">{{ category.num_items }}</span>
            </a>
          {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="col-10">
          <h4>No categories to display</h4>
        </div>
      {% endif %}
      </div>
    </div>
{% endblock %}