{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        {% if listing.is_active %}
        <div>
            <img src="/{{ listing.image }}" alt="{{ listing.title }}"
            class="img-thumbnail">
            <h4>{{ listing.title }}</h4>
            <p><b>Price:</b> ${{ listing.price }}</p>
            <p class="text-secondary"><small>Created {{ listing.date_created }}</small></p>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}