{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ title }}</h2>
    <div class="container">
        <div class="row">
        {% if listings %}
        {% for listing in listings %}
            {% if listing.is_active %}
            <div class="col-4">
                {% if listing.image %}
                <img src="{{ listing.image.url }}" alt="{{ listing.title }}"
                class="img-thumbnail size-200">
                {% endif %}
            </div>
            <div class="col-6">
                <a href="{% url 'auctions:listing' listing_id=listing.id %}"><h4>{{ listing.title }}</h4></a>
                <p><b>Price:</b> ${{ listing.price }}</p>
                <p>{{ listing.description }}</p>
                <p class="text-secondary"><small>Created {{ listing.date_created }}</small></p>
            </div>
            {% endif %}
        {% endfor %}
        {% else %}
            <div class="col-10">
                <h4>{{ empty }}</h4>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}