{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        {% if listing.is_active %}
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="{{ listing.image.url }}" alt="{{ listing.title }}"
                    class="img-thumbnail size-200">
                </div>
                <div class="col-6">
                    <h4>{{ listing.title }}</h4>
                    <p><b>Price:</b> ${{ listing.price }}</p>
                    <p>{{ listing.description }}</p>
                    <p class="text-secondary"><small>Created {{ listing.date_created }}</small></p>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}